.form {
  width: 50%;
  height: 140px;
  background-color: rgb(147, 189, 251);
  box-shadow: 1px 0px 10px 1px black, 1px 0px 1px 1px black inset;
  color: rgb(0, 0, 0);
  padding: 0.5rem;
  border-radius: 0.6rem;
  margin-bottom: 0.5rem;
}

.form-field {
  margin: 1rem 0;
  display: flex;
  color: white;
}
.form-field label {
  padding-left: 1rem;
  flex-basis: 20%;
}
.form-field input {
  flex-basis: 70%;
  border: none;
  border-radius: 0.6rem;
  padding: 0.2rem;
  box-shadow: 0.5px 0.5px 2px 0.5px black inset;
}

.form-field textarea {
  flex-basis: 70%;
  resize: none;
  border: none;
  border-radius: 0.6rem;
  padding: 0.2rem;
  border: 1px solid rgb(75, 75, 75);
  box-shadow: 0.5px 0.5px 2px 0.5px black inset;
}
.form button {
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 23px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  box-shadow: 1px 0px 5px 1px black, 1px 0px 1px 1px black inset;
  background-color: rgb(112, 169, 255);
  color: white;
}
.form button:hover {
  background-color: rgb(63, 139, 252);
  color: white;
}
