.todos {
  width: 50%;
  background-color: rgb(147, 189, 251);
  /*box-shadow: 1px 1px 5px 1px black inset;*/
  box-shadow: 1px -1px 5px 1px black, 1px -0px 1px 1px black inset;
  color: black;
  padding: 0.5rem;
  border-radius: 0.6rem;
  overflow: scroll;
  height: 50vh;
  scrollbar-width: none;
}
.todos::-webkit-scrollbar {
  display: none;
}
